[worldserver]

###################################################################################################
#   NPC ARENA SPECTATOR
#
#   NpcArenaSpectator.Enable
#       Description: Enable system
#       Default: 1
#
#   NpcArenaSpectator.StartDelay
#       Description: Seconds a match must have been running before it can be spectated. Matches
#                    still in the preparation countdown are hidden as well.
#                    Does not apply to the .spectate command.
#       Default: 15 - (0 = no delay)
#

NpcArenaSpectator.Enable = 1

NpcArenaSpectator.StartDelay = 15

NpcArenaSpectator.ShowUnrated = 0

NpcArenaSpectator.1v1.Enable = 0
NpcArenaSpectator.1v1.SlotID = 3
NpcArenaSpectator.1v1.ArenaType = 1

NpcArenaSpectator.3v3soloQ.Enable = 0
NpcArenaSpectator.3v3soloQ.SlotID = 4
NpcArenaSpectator.3v3soloQ.ArenaType = 4

NpcArenaSpectator.Enable5v5 = 1
