[worldserver]

###################################################################################################
#   NPC ARENA SPECTATOR
#
#   NpcArenaSpectator.Enable
#       Description: Enable system
#       Default: 1
#

NpcArenaSpectator.Enable = 1


NpcArenaSpectator.1v1.Enable = 0
NpcArenaSpectator.1v1.SlotID = 3
NpcArenaSpectator.1v1.ArenaType = 1

NpcArenaSpectator.3v3soloQ.Enable = 0
NpcArenaSpectator.3v3soloQ.SlotID = 4
NpcArenaSpectator.3v3soloQ.ArenaType = 4

NpcArenaSpectator.Enable5v5 = 1

# this feature is still work in progress, do NOT enable it on production
NpcArenaSpectator.ShowUnrated = 0
